<div class="main">
    <h2>Carrito</h2>
    <h3>Productos</h3>
    <div class="productoCard" *ngFor="let item of items">
        <div class="productoCard-header"> 
            <h4>{{item.nombre}}</h4>
        </div>
        <div class="productoCart-content"> 
            <p>Descripcion: {{item.descripcion}}</p>
            <p>Precio: {{item.precio}}</p>
        </div>
    </div>
    <form [formGroup]="pedidoForm"> 
        <label for="username"><b>Dirección a la que se enviará el pedido</b></label>
        <input type="text" required name="direccion" placeholder="Dirección">
    </form>
    <button class="pressed" (click)='RealizarPedido()'>Realizar Pedido</button>
    <button class="pressed" (click)='Volver()'>Volver</button>
</div>
