<div class="main">
    <div class="productos">
        <div class="gridCard" *ngFor="let producto of productos | paginate: { itemsPerPage: 10, currentPage: pa }">
            <div class="gridCard-header"> 
                <h3>{{producto.nombre}}</h3>
            </div>
            <div class="gridCard-content">
                <p>Descripción: {{producto.descripcion}}</p>
                <p>Precio: {{producto.precio}}</p>
                <div class="gridCard-buttons">
                    <button class="pressed"(click)="anadirProducto(producto)">Añadir</button>
                </div>
            </div>
        </div>
        <br>
        <button class="pressed"(click)="Carrito()">Ir al Carrito</button>
        <button class="pressed"(click)="Inicio()">Inicio</button>  
    </div>
    <pagination-controls (pageChange)="pa = $event"
    responsive="true"
    previousLabel="Anterior"
    nextLabel="Siguiente"
    screenReaderPaginationLabel="Paginación" 
    screenReaderPageLabel="Página" 
    screenReaderCurrentLabel="Estás en la página">
    </pagination-controls>
</div>
