<div class="productos">
    <div class="card" *ngFor="let producto of productos | paginate: { itemsPerPage: 10, currentPage: pa }">
        <h3> 
            <a> {{producto.nombre}} </a>
        </h3>
            <p>Descripción: {{producto.descripcion}}</p>
            <p>Precio: {{producto.precio}}</p>
            <button class="pressed"(click)="anadirProducto(producto)">Añadir</button>
 
    </div>
    <pagination-controls (pageChange)="pa = $event"
        responsive="true"
        previousLabel="Previous"
        nextLabel="Next">
    </pagination-controls>
    <br>
    <button class="pressed"(click)="Carrito()">Ir al Carrito</button> 
</div>
