<div class="productos">
    <div class="card" *ngFor="let producto of productos | paginate: { itemsPerPage: 10, currentPage: pa }">
        <ul>
            <li>{{producto.nombre}}</li>
            <li>Descripción: {{producto.descripcion}}</li>
            <li>Precio: {{producto.precio}}</li>
            <button class="pressed"(click)="anadirProducto()">Añadir</button>
        </ul>
    </div>
    <pagination-controls (pageChange)="pa = $event"
        responsive="true"
        previousLabel="Previous"
        nextLabel="Next">
    </pagination-controls>
    <br>
    <button class="pressed"(click)="Carrito()">Ir al Carrito</button> 
    <button class="pressed"(click)="LogOut()">Salir de la web</button>
</div>
