<p>login works!</p>

 <!-- Div de la parte derecha, recoge el formulario-->
 <div class="">
    <form class="">
        <div id="login">
          <p class="">LOGIN</p>
          <!--input nickname-->
          <div class="">
            <label class="" for="usuario">Nickname</label>
            <!--Si el input no es válido el borde se vuelve rojo-->
            <input [class]="" type="text" id="usuario"  placeholder="Nickname" aria-label="username" formControlName="usuario">
          </div>
          <div class="">
            <!--Input contraseña-->
            <label class="">Contraseña</label>
            <div class="">
              <!--Si el input no es válido el borde se vuelve rojo y según el atributo ocultarPass se muestra la pass o no
              cambiándolo con un botón dentro del input-->
              <input [class]="" id="password" placeholder="Password" arial-label="password" formControlName="password">
                </div>
          </div>
          <!--Botón de login, disabled si el formulario no es válido, mensajes de error por encima-->
          <div class="">
            <p *ngIf="error" class="">{{mensaje}}</p>
            <button
            [class]="">
              Log in
            </button>
          </div>
          <div class="">
            <a class="">
              Olvidaste la contraseña?
            </a>
          </div>
        </div>
        <!-- div para ir al registro -->
          <div id="registro">
            <br>
            <h5 class="">¿Eres nuevo?</h5>
            <br>
            <!--Botón te redirige al registro-->
          </div>
        </form>
      </div>