<div class="main">
    <h1>Menu Restaurant</h1>
    <div>
        <img src="../../../assets/images/Logo Restaurante.jpg" alt="Logo de la página" class="imgHome">
    </div>
    <div class="texto">
        <h3>En Menu Restaurant nuestros clientes son lo más importante. Por eso nos adaptamos a las situaciones
            y te ofrecemos el sabor de siempre desde la comodidad y seguridad de tu hogar. Realiza tu pedido y
            en pocos minutos estaras disfrutando de ese plato que tanto te gusta sin tener que preocuparte de nada. 
        </h3>
    </div>
    <div class="buttons">
        <button class="pressed" (click)="creaUsuario()">Crear usuario</button>
        <button class="pressed" (click)="login()">Ya tengo usuario</button>
    </div>

</div>