<div class="main login">
  <div class="loginContent main">
      <h1>Accede</h1>
      <form class="loginForm" #loginForm="ngForm" (ngSubmit)="aceptar()"> 
        <div class="campo">
          <label for="username"><b>Nombre de usuario</b></label>
          <input type="text" required name="username" placeholder="Nombre de usuario"
          [(ngModel)]="user.username" #username="ngModel">
          <div [hidden]="username.valid || username.untouched" class="errorEnValidacion">
            El nombre de usuario es obligatorio
          </div>
        </div>
        <div class="campo">
          <label for="pass"><b>Contraseña</b></label>
          <input type="password" required name="password" placeholder="Contraseña"
          [(ngModel)]="user.password" #password="ngModel">
          <div [hidden]="password.valid || password.untouched" class="errorEnValidacion">
          La contraseña es obligatoria
        </div>
      </div>
      <div class="loginButtons">
        <button class="aceptar" (click)="aceptar()">Iniciar Sesion</button>
        <button class="cancelar" (click)="home()">Cancelar</button>
      </div>
    </form>
</div>
</div>
