
$colorBotonCancelar: #ff6b6b;
$colorBotonCancelarHover: #ff0000;
$colorCardBorder: #cbcbcb;
$colorTextoBotonHover: #000000;
$colorTextoBoton: #ffffff;
$colorTextoError: #D51545;
$navBorder: #FFB96A;
$navBackground: #0019fd;
$colorBoton: #3865c5;
$colorBotonHover: #ffffff;
$colorSombraBoton: #000000;
$colorBotonDeshabilitado: #484b49;
$gradiente: linear-gradient(180deg, #121853 10%,#646a9e 40%,#646a9e 60%,#121c53 90% );
$colorCardHeader: #38bcc5;
$colorBotonHeader: #ffffff;

$colorPagination: #3e5eee;

$colorBackgroundAvisos: #ffffff;
$colorTextoAvisos: #12532A;