
$colorBotonCancelar: #E23F68;
$colorBotonCancelarHover: #69041d;
$colorCardBorder: #cbcbcb;
$colorTextoBotonHover: #F48EA7;
$colorTextoError: #D51545;
$navBorder: #FFB96A;
$navBackground: #000000;
$colorBoton: #3865c5;
$colorBotonHover: #ffffff;
$colorSombraBoton: #000000;
$colorBotonDeshabilitado: #484b49;
$gradiente: linear-gradient(180deg, #121853 10%,#646a9e 40%,#646a9e 60%,#121c53 90% );
$colorCardHeader: #38bcc5;

$colorBackgroundAvisos: #ffffff;
$colorTextoAvisos: #12532A;