.tituloHeader
{
    display: none;
    
    @media screen and (min-width: 600px)
    {
        display: block;
        margin-left: 2vw;
        font-size: 5vh;
        color: #ffffff;
    }
}

.imgLogo
{
    height: 10vh;
}