<div class="main">
    <div class="card">
        <div class="card-header">
            <h2>Introduce tus datos</h2>
        </div>
        <div class="card-content">
            <form [formGroup]="signUpForm"> 

                <div class="campo">
                    <label for="name"><b>Nombre</b></label>
                    <input type="text" placeholder="Nombre" name="name" formControlName="name">
                    <ng-container *ngIf="signUpForm.controls.name.errors != undefined">
                        <div class="errorEnValidacion" *ngIf="signUpForm.controls.name.errors.required">Este campo
                            no puede estar vacio</div>
                            <div class="errorEnValidacion" *ngIf="signUpForm.controls.name.errors.minlength">El nombre
                                de usuario debe contener al menos 4 caracteres</div>
                            </ng-container>
                        </div>
                        <div class="campo">
                            <label for="name"><b>Apellidos</b></label>
                            <input type="text" placeholder="Apellidos" name="surname" formControlName="surname">
                            <ng-container *ngIf="signUpForm.controls.surname.errors != undefined">
                                <div class="errorEnValidacion" *ngIf="signUpForm.controls.surname.errors.required">Este campo
                                    no puede estar vacio</div>
                                </ng-container>
                            </div>
                            <div class="campo">
                                <label for="name"><b>DNI</b></label>
                                <input type="text" placeholder="DNI" name="dni" formControlName="dni">
                                <ng-container *ngIf="signUpForm.controls.dni.errors != undefined">
                                    <div class="errorEnValidacion" *ngIf="signUpForm.controls.dni.errors.required">Este campo
                                        no puede estar vacio</div>
                                    </ng-container>
                                </div>
                                <div class="campo">
                                    <label for="name"><b>Nick</b></label>
                                    <input type="text" placeholder="Nick de Usuario" name="nick" formControlName="nick">
                                    <ng-container *ngIf="signUpForm.controls.nick.errors != undefined">
                                        <div class="errorEnValidacion" *ngIf="signUpForm.controls.nick.errors.required">Este campo
                                            no puede estar vacio</div>
                                        </ng-container>
                                    </div>
                                    <div class="campo">
                                        <label for="password"><b>Contraseña</b></label>
                                        <input type="password" placeholder="Contraseña" name="password" formControlName="password">
                                        <ng-container *ngIf="signUpForm.controls.password.errors != undefined">
                                            <div class="errorEnValidacion" *ngIf="signUpForm.controls.password.errors.required">Este campo no
                                                puede estar vacio</div>
                                                <div class="errorEnValidacion" *ngIf="signUpForm.controls.password.errors.minlength">La contraseña
                                                    debe contener al menos 6 caracteres</div>
                                                    <div class="errorEnValidacion" *ngIf="signUpForm.controls.password.errors.pattern">La contraseña
                                                        debe contener mayúsculas y minúsculas</div>
                                                    </ng-container>
                                                </div>
                                            </form>
                                                <div class="card-buttons">
                                                    <button class="aceptar" (click)="crearCustomer()" >Registrarse</button>
                                                    <button class="cancelar" (click)="cancelar()">Cancelar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>